<body style="background-color: #d9d9d9">
  <div class="container">
    <%= link_to 'Keep Shopping', products_path, :class => 'btn btn-info btn-lg mb-2' %>
    <div class="row">
      <div class="col-md-9 col-md-offset-9">
        <table class="table" style="background-color: #FFF;">
          <thead>
            <tr>
              <th>Title</th>
              <th>Image</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <% if current_user.latest_order.line_items.size>0 %>
              <% current_user.latest_order.line_items.each do |line_item| %>
              <tr>
                <td><%= line_item.product.title %></td>
                <td>
                  <% line_item.product.images.each do |image| %>
                  <%= image_tag image ,size: "120x120" ,:class => 'class="card-img-top"'%> 
                  <% end %>
                </td>
                <td><%= line_item.price %></td>
                <td><%= line_item.quantity %></td>
                <td>
                  <%= form_for([line_item.order, line_item]) do |f| %>
                    <%= f.hidden_field :product_id, value: line_item.product.id %>
                    <%= f.number_field :quantity, value: line_item.quantity, min: 1, class: 'form-control',placeholder: 'edit quantity'%>
                    <%= f.submit "Update Quantity", class: 'btn btn-primary mt-2' %>
                    <%= link_to 'Destroy', [line_item.order,line_item], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mt-2' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-3">
        <% if current_user.latest_order.line_items.present? %>
          <div class="card " style="width: 18rem; background-color: #FFF;">
            <div class="card-body">
              <h5 class="card-title">Total line item and price</h5>
              <h5 class="card-text my-3"><b><%= link_to "Subtotal (#{current_user.latest_order.line_items.size} item):₹ #{current_user.latest_order.total_price}", carts_path, :style => 'color:black' %></b></h5>
              <center><%= link_to 'Proceed to Buy', order_path(current_user.latest_order), :class => 'btn btn-info btn-lg btn-block' %></center>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>