<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <!-- Navbar logic -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <b><%= link_to "My Shop", root_path, :class => 'navbar-brand' %></b>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, :class => 'navbar-brand' %></a>
          </li>
         
        </ul>
          <li class="navbar-text float-right">
            <% if user_signed_in? %>
            <%# binding.pry%>
            <%#if current_user.latest_order.line_items.present? %>
              <%#= link_to "#{current_user.latest_order.line_items.size} cart", carts_path , :class => "button btn btn-secondary mr-2 " %>
            <%# end %>    
            <strong><%#= current_user.name %></strong>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link btn btn-primary ml-2'%> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-primary'  %>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link btn btn-primary ml-2'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link btn btn-primary'  %>
            <% end %>
          </li>
        </div>
      </nav>

    <%= yield %>
  </div>
</body>
</html>
